mixin photoAndVideo
  .c-photo-and-video
    h3.c-photo-and-video__title See photos and videos of our work
    .c-photo-and-video__cards
      .c-photo-and-video__card 
        +PAVItem({name : 'загрузка в контейнер', nameImg : 'video'})
      .c-photo-and-video__card 
        +PAVItem({name : 'фундаменты большие', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'загрузка в вагон', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'упаковка опор', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'образец опоры', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'большая секция', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'Загрузка в автотранспорт', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'Упаковка для болтов', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'Фабрика', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'Погрузка в контейнер', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'Сборка образца 500 кВ опоры', nameImg : 'photo'})
      .c-photo-and-video__card 
        +PAVItem({name : 'Упаковка', nameImg : 'photo'})
    .c-photo-and-video__slider 
      .swiper
        .swiper-wrapper
          .swiper-slide 
            img(src="./assets//images/slider-img.jpg" alt="Slider Item")
          .swiper-slide 
            img(src="./assets//images/slider-img.jpg" alt="Slider Item")
          .swiper-slide 
            img(src="./assets//images/slider-img.jpg" alt="Slider Item")
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
    p.c-photo-and-video__text Yunmei has established a perfect quality management system. It successfully passed ISO9001:2000 system certification in 2004 and passed ISO9001:2008 version system certifications in 2010.
    p.c-photo-and-video__text The Quality Policy includes “Customer satisfaction, quality first, good faith and abiding by contract, and continuous improvement”. For years, the staff provides service to the production sites; always provides customer-oriented service. They always pay visit to the customer and ask for advice to keep improving the product quality and after-sale services. The Company gains users' praise for supplying first-class quality product and superb technical services.
    p.c-photo-and-video__text In recent years, the company has provided various steel pipe towers, four-pole based combination towers, etc. for the electricity sectors in China, Russia, Mongolia, Birma, Laos, Vietnam has made great contribution to the electric power development.
    p.c-photo-and-video__text.c-photo-and-video__text--big Together with the whole staff, welcome customers, leaders and experts to come here for inspection.