* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: $c-white;
  font-size: $fs-base + px;
  font-family: 'Gilroy';
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}
.container {
  @include maxCentered(1160, 20);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.scroll-disable {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
