// COLORS
$c-white: #fff;
$c-black: #000;
$c-orange: #fb9514;
$c-green: #0dc143;
$c-silver: #eff5fb;
$c-black-text: #282828;
$c-bg-silver: #eff5fb;
$c-black-text-2: #3a3a3a;
$c-blue: #387fd8;
$c-silver: #ecf0fa;
$c-silver-2: #d7e5f2;
// FONT-SIZE
$fs-base: 16;
//  TRANSITION
$t-normal: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
// BOX-SHADOW
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
