mixin logotypes
  .c-logotypes
    .c-logotypes__item
      +logoBlock({logo : 'comp-01'})
    .c-logotypes__item
      +logoBlock({logo : 'comp-02'})
    .c-logotypes__item
      +logoBlock({logo : 'comp-03'})
    .c-logotypes__item
      +logoBlock({logo : 'comp-04'})
    .c-logotypes__item
      +logoBlock({logo : 'comp-05'})
    .c-logotypes__item
      +logoBlock({logo : 'comp-06'})
    .c-logotypes__item
      +logoBlock({logo : 'comp-07'})

