include ./header/header
include ./logo/logo
include ./navigation/navigation
include ./call-btn/call-btn
include ./banner/banner
include ./logotypes/logotypes
include ./products/products
include ./our-power/our-power
include ./power-item/power-item
include ./our-factory/our-factory
include ./factory-item/factory-item
include ./factory-info-item/factory-info-item
include ./factory-advantage/factory-advantage
include ./processes/processes
include ./proccess-step/proccess-step
include ./packing-and-delivery/packing-and-delivery
include ./PAD-item/PAD-item
include ./photo-and-video/photo-and-video
include ./PAV-item/PAV-item
include ./consult-me/consult-me
include ./logo-black/logo-black
include ./footer/footer