mixin footer 
  .c-footer 
    .container.c-footer__wrapper
      +logoBlack 
      .c-footer__links 
        a.c-footer__link(href="#") Privacy Policy
        a.c-footer__link(href="#") Public offer
      .c-footer__info © 2019-2021 Yunmei Poles. All rights reserved