mixin consultMe
  .c-consult-me
    .container.c-consult-me__wrapper 
      .c-consult-me__content
        h2.c-consult-me__title Do you have questions or suggestions for us?
        .c-consult-me__desc Just fill out the form and we will contact you as soon as possible!
        .c-consult-me__button 
          +button({text : 'Consult me', class: 'e-button--consult'}) 