mixin our-factory 
  .c-our-factory 
    .container.c-our-factory__wrapper 
      h2.c-our-factory__title Our Factory
      .c-our-factory__items 
        +factory-item({icon : '1', title : 'Our own metallurgical lab', desc : 'TAPP`s in-house metallurgical lab ensures consistet high quality steel. TAPP performs a Chemical composition test. Mechanical properties test, and Charpy V-notch test with all steel coils.'})
        +factory-item({icon : '2', title : 'iso 9001:2008 sertified', desc : 'TAPP`s ISO 9001 program quarantees that products and services consistently meet customer`s requirements and that quality is continuously improving.'})
        +factory-item({icon : '3', title : 'every type of steel. delivered.', desc : 'TAPP can fabricate products from nearly any type of steel required including: ASTM A572, A588, A871, A36, A588, A501, A500, AA53 and many more.'})
        +factory-item({icon : '4', title : 'best lead times', desc : 'Whith over $30m of pre-purchased raw material on hand, combied whith highly automated machinery, TAPP can offer extremely competitive lead times on any project.'})
      .c-our-factory__image-big 
        img.c-our-factory__image(src="../../../../assets/images/factory/factory.jpg" alt="Image Factory")
      .c-our-factory__info-block 
        +factory-info-item({title : '20',titleSmall : 'years', desc : 'More than 20 years of experience, numerous awards and certificates'})
        +factory-info-item({title : '287 000' , titleSmall : 'm2',desc : 'Our factory now covers an area of ​​287,000 square meters'})
        +factory-info-item({title: '960',titleSmall : 'employees', desc : 'Including 36 senior technical and economic personnel '})
        +factory-info-item({title: '100 000',titleSmall : 'tons', desc : 'Every year the output is 80000-100000 tons'})
      p.c-our-factory__text Our factory now covers an area of ​​287,000 square meters, of which the construction area is 200,500 square meters. The company has 960 employees, including 36 senior technical and economic personnel, 53 intermediate technical and economic personnel, and 710 tower production personnel. Since its establishment in 2004, Yunmei has always adhered to the business strategy of "survive by quality, develop by reputation, and increase efficiency by science and technology", and abide by the enterprise spirit of "integrity, talent, persistence and innovation", Constantly forge ahead. The annual output value has continued to grow rapidly. Every year the output is 80000-100000 tons. More than 20 years of experience, numerous awards and certificates and our factory equipped with the latest tech should definitely do the trick.
      .c-our-factory__four-steps 
        .c-our-factory__steps-info
          h3.c-our-factory__title-min The equipment we use helps us with these 4 steps of the process significantly.
          p.c-our-factory__text.c-our-factory__text--min For example, the 3200T double linkage electro-hydraulic synchronous CNC bending machine can produce elbows and bends from plate, which are 35mm thick and 12.5 m long and match the requirements of polygonal towers. And CNC flame and plasma cutting machines make sure that the processing and assembly of the parts is as precise as it can ever be.
        .c-our-factory__advantages 
          +factory-advantage({title : 'OUR STEEL IS LIKE A SUPERHERO', desc : 'Weathering steel is a self-healing, maintenance-free and corrosive resistant steel that will fight against whatever Mother Nature has up her sleeve.'})
          +factory-advantage({title : 'CUSTOMER-ORIENTED PRODUCTS', desc : 'When we work on a design or a specific tower, we always make sure that the client’s needs are met first.'})
          +factory-advantage({title : 'INSPECTION & TESTING', desc : 'Our Quality Assurance team of professional inspectors check every section for proper welds to ensure they meet our clients’ demands for each case.'})
          +factory-advantage({title : 'IT WILL DEFINITELY WORK', desc : 'Before shipping our products to their destination, our QA team pre-fits the structures to eliminate the possibility of failure during assembly on site.'})
          +factory-advantage({title : 'YOU CAN TRUST US. WE ARE VERY THOROUGH', desc : 'All kinds of tests and checks can be performed to make sure the parts and structures work as they are supposed to.'})
      .c-our-factory__images-block 
        .c-our-factory__image-block
          img(src="../../../../assets/images/factory/factory-01.png" alt="Image")
        .c-our-factory__image-block
          img(src="../../../../assets/images/factory/factory-02.png" alt="Image")
      p.c-our-factory__text
        span.c-our-factory__text-big CORROSION DANGER. WE PROTECT OUR PRODUCTS. 
        | Forget about corrosion. We have introduced a hot-dipped galvanizing production line, which uses the world’s first-grade galvanizing process and a large-scale zinc pot with zinc holding capacity of 1100 tons. We use 8 sets of dedicated galvanizing high-speed pulse burners, an automatic temperature control system (Japan FUJI), systematic engineering and professional galvanizing furnace design. All of them are customized for the steel tower galvanizing process and characterized by rapid temperature rise, ideal temperature uniformity and excellent heat insulation effects. There’s also an original combustion chamber function - a unique function to protect the zinc pot and promote exhausted combustion during the burner operation. The fully automatic temperature control system and the automatic on/off feature of the burners ensure constant temperature control for the zinc liquid temperature and guarantee the galvanization quality. The hot-dipped-galvanized production line effectively improves the automation and production efficiency, reduces the intensity of labor, improves the hot-dipped galvanizing production environment and reduces environmental pollution, by achieving the purpose of environmental protection, energy conservation and production cost reduction and improving the product quality.
      p.c-our-factory__text.c-our-factory__text--min 
        span.c-our-factory__text-big PROTECTION GOES DEEPER THAN YOU MAY THINK. 
        | For structures that are installed below ground, we use a reliable polyurethane spray coating system, which is like an enamel-looking layer of thermoset plastic. It attaches firmly to the steel pole, protecting that part that’s underground.

