mixin packingAndDelivery
  .c-packing-and-delivery
    .container.c-packing-and-delivery__wrapper 
      h2.c-packing-and-delivery__title Packing and Delivery
      .c-packing-and-delivery__items 
        .c-packing-and-delivery__item
          +PADItem({icon : '1', title : 'WE ALWAYS DELIVER WHEN WE SAY WE WILL', desc : 'Our reputation is not just about the quality of product or it’s appearance but the fact of delivering the work in time. And in the fifteen years of making steel structures, we have managed to do it in time in 99% of cases. The remaining 1% of delays was mostly related to weather conditions and other factors we had no control over.'})
        .c-packing-and-delivery__item
          +PADItem({icon : '2', title : 'DIVERSIFIED TRANSPORTATION', desc : 'Sometimes, nature or circumstance interfere with our plans so to ensure that our steel structures are always delivered in time to their destination, we have created a diversified portfolio of transportation providers to always find a way even when it seems there isn’t one.'})
        .c-packing-and-delivery__item
          +PADItem({icon : '3', title : 'ON SITE ADJUSTMENTS', desc : 'Even with the best specialists in their fields, the best parts and all the testing and experience, sometimes these precautions are not enough and our products require last minute fixes on site. We make sure to provide such assistance in every such case for every such client.'})
      p.c-packing-and-delivery__text We have the experience of delivering our steel structures via different transportation means: auto, railroad and by sea in a container. Regardless of the method of delivery, we guarantee that your cargo will be safe while it’s being shipped to you. We try and minimize the number of places the product goes, by combining the parts of structures in as few packages as possible. This speeds up the loading and unloading process too. All the small details such as bolts, screws, washers and plates are securely packed in steel barrels to minimize the risk of loss of details upon delivery.
      +photoAndVideo