mixin products 
  .c-products
    .container.c-products__wrapper 
      h2.c-products__title Products
      .c-products__desc Yunmei company specialized in the production of steel transmission poles 35-220kV and is an excellent supplier of State Grid Worldwide.
      .c-products__block
        .c-products__item1
          img(src="./assets/images/products/products-01.png" alt="Product")
        .c-products__item2
          img(src="./assets/images/products/products-02.png" alt="Product")
        .c-products__item3
          img(src="./assets/images/products/products-03.png" alt="Product")
        .c-products__item4
          img(src="./assets/images/products/products-04.png" alt="Product")