mixin banner 
  .c-banner 
    .container.c-banner__wrapper
      .c-banner__content
        h1.c-banner__title Transmission Poles
        .c-banner__desc The unique Yunmei Poles manufacturing process creates hollow, steel-reinforced concrete poles of great strength and relatively light weight, by spinning the mould at high speed.
        .c-banner__button 
          +button({text: 'Consult me', class : 'e-button--banner'})
      +logotypes