mixin our-power
  .c-our-power
    .container.c-our-power__wrapper
      h2.c-our-power__title Our Power Starts With You
      p.c-our-power__text Every line is unique. That means trust, experience and dependability become as important as design, manufacturing and delivery. From steel tapered and H-frames, to concrete and patented steel/concrete hybrid poles, our industry-leading engineering team can create custom power transmission poles designed especially for your line. We back our designs with real-world testing to ensure we create the most reliable transmission pole for you. We design manufacture and coat steel, concrete, and hybrid transmission poles to support any voltage class. Backed by over four decades of experience and a global network of manufacturing facilities, Valmont Utility can offer you:
      .c-our-power__items
        +power-item({icon : '1', title : 'Any design of your choice', desc : 'This enables customization of any line segment with structures that are optimized for the environment and creating a line that is more cost effective.'})
        +power-item({icon : '2', title : 'The Newmark® Standard of Excellence', desc : 'Newmark transmission towers offer the versatility and light weight of steel, the low maintenance and durability of concrete (spun and static cast).'})
        +power-item({icon : '3', title : 'Exceptional Ease of Installation', desc : 'When compared to other types of structures, the speed and ease of installation, concrete and hybrid poles increases its value in construction cost savings.'})
        +power-item({icon : '4', title : 'Uniform Material Strength', desc : 'Steel and concrete offer uniform material strength throughout the entire structure, providing more consistency and predictability than wood.'})
      .c-our-power__button  
        +button({text : 'Get a free consultation on your project', class : 'e-button--power'})
