.e-burger {
  z-index: 17;
  display: none;
  height: 21px;
  width: 35px;
  @include media('<=tablet') {
    display: block;
  }
  &__line {
    transition: all 0.2s linear;
    background-color: $c-white;
    margin-bottom: 7px;
    position: relative;
    border-radius: 7px;
    display: block;
    height: 2px;
    width: 100%;
    transform-origin: center;
  }
  &--active {
    .e-burger__line {
      background-color: $c-black-text;
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}
