mixin navigation 
  nav.c-nav#js-menu
    ul.c-nav__list
      li.c-nav__item 
        a.c-nav__link(href="#") Home 
      li.c-nav__item 
        a.c-nav__link(href="#") Products
      li.c-nav__item 
        a.c-nav__link(href="#") Engineering 
      li.c-nav__item 
        a.c-nav__link(href="#") Factory 
      li.c-nav__item 
        a.c-nav__link(href="#") Packing and delivery 