.c-photo-and-video {
  &__title {
    font-weight: 600;
    font-size: 36px;
    color: $c-black-text;
    text-align: center;
    max-width: 405px;
    margin: 60px auto 0;
  }
  &__cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px 15px;
    @include media('<=desktop') {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media('<=tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media('<=phone') {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__slider {
    margin-top: 40px;
  }
  &__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: $c-black-text-2;
    &--big {
      font-weight: 700;
    }
  }
}
